/*
    BASE STYLES
*/
:root {
  --brand-color: #2e2f42;
  --primary-slate-color: #434455;
  --primary-blue-color: #404bbf;
  --non-primary-blue-color: #4d5ae5;
  --primary-white-color: #ffffff;
  --non-primary-white-color: #e7e9fc;
  --dark-color: #000000;
  --background-color: #f4f4fd;
}
/* CUSTOM RESET START */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* example for class
.list {
  list-style-type: none;
}
*/
img,
svg {
  display: block;
}

button {
  color: currentColor;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: currentColor;
}

/* CUSTOM RESET END */

/* GENERAL STYLES START*/
.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-slate-color);
}
.section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid darkred; */
}
.section-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--brand-color);
  margin-bottom: 72px;
}
.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
} /* for all <p>*/

/* GENERAL STYLES END*/

/* HEADER*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.link-nav {
  position: relative;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  color: var(--primary-blue-color);
}
.link-nav.active::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--primary-blue-color);
  border-radius: 2px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--non-primary-blue-color);
  text-decoration: none;
  margin-right: 76px;
}
/* class .logo is used in header and footer*/

.studio-dark {
  color: var(--brand-color);
}
.link:hover,
.link:focus {
  color: var(--primary-blue-color);
}

.address:hover,
.address:focus {
  color: var(--primary-blue-color);
}

.main-address {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 153;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
  list-style-type: none;
  margin-left: auto;
}
.header-deco {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}
.navigation {
  display: flex;
  align-items: center;
}
.list-deco {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.address-deco {
  display: flex;
  gap: 40px;
}
/*
================
 HERO SECTION
================
 */
.hero {
  margin: 0 auto;
  background-color: var(--brand-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--non-primary-blue-color);
  color: var(--primary-white-color);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.service-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-btn:hover {
  background-color: var(--primary-blue-color);
}
.service-btn:focus {
  background-color: var(--primary-blue-color);
}

.hero-headline {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
}

/*
===========
FEATURES SECTION / SECTION 2
===========
*/
.subtitle-deco {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: var(--brand-color);
} /* class .subtitle is used in Sec.2 and Sec.3 for h3*/

.antenna {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--background-color);
  border-radius: 4px;
  margin-bottom: 8px;
}
.li-item {
  width: calc((100% - 72px) / 4);
}
.h-three-deco {
  margin-bottom: 8px;
}
/*
============
TEAM SECTION SECTION 3
============
*/
.section-background {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team {
  background-color: var(--background-color);
}
.section-three-deco {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  display: flex;
  gap: 24px;
}
.name-deco {
  padding: 32px 0;
}
.name-deco-two {
  text-align: center;
  margin-bottom: 8px;
}
.p-item {
  margin-bottom: 8px;
  text-align: center;
}
/* networks start */
.network-deco {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.icons-deco {
  width: 40px;
  height: 40px;
}
.icons {
  background-color: var(--non-primary-blue-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons:hover,
.icons:focus {
  background-color: #404bbf;
}
.icon-fill {
  fill: var(--background-color);
}
/* networks end*/

/*
==============================
 OUR PORTFOLIO SECTION 4
 ==============================
 */

.list-port {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.li-item-port {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-item-port:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.text-over {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-item-port:hover .text-over {
  transform: translateY(0%);
}
.description-deco {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.h2-deco-port {
  margin-bottom: 8px;
}
/*
====================
FOOTER STYLES
====================
*/
.footer {
  padding: 100px 0;
  background-color: var(--brand-color);
}
.studio-light {
  color: var(--background-color);
}
.end-description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  max-width: 264px;
}
.footer-network {
  gap: 16px;
}
.icons-footer {
  background-color: var(--non-primary-blue-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.icons-footer:hover {
  background-color: #31d0aa;
}
.icons-footer:focus {
  background-color: #31d0aa;
}

.network-footer {
  display: flex;
  align-items: baseline;
}

.footer-deco {
  margin-right: 120px;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  margin-bottom: 16px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.subscribe-block {
  margin-left: auto;
}
.subscribe-caption {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.email-field {
  display: flex;
  gap: 24px;
}
.email-form {
  width: 264px;
  height: 40px;
  border: 1px solid var(--primary-white-color);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
}
.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  cursor: pointer;
  background-color: var(--non-primary-blue-color);
  border: none;
  border-radius: 4px;
}
.frame {
  margin-left: 16px;
}

/* 
============================== 
Modal window
==============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}
.modal-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  text-align: center;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-comment {
  margin-bottom: 16px;
}
.modal-label {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  background-color: inherit;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  fill: var(--brand-color);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: var(--non-primary-blue-color);
}

.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  background-color: inherit;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-text:focus {
  border-color: #4d5ae5;
}
.modal-text::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}
.agreement-container {
  margin-bottom: 24px;
}
.agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  border-radius: 2px;
  fill: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:focus-visible + .checkbox-text > .agreement-checkbox {
  outline: 2px solid var(--brand-color);
  outline-offset: 1px;
}
.modal-checkbox:checked + .checkbox-text > .agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.agreement-checkbox-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked
  + .checkbox-text
  > .agreement-checkbox
  > .agreement-checkbox-icon {
  fill: #f4f4fd;
}

.checkbox-text {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
}
.agreement-link {
  color: var(--non-primary-blue-color);
  margin-left: 4px;
}
.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  color: var(--WHITE, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
}
.leaving-contacts {
  position: absolute;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--non-primary-blue-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
